<?xml version="1.0" encoding="UTF-8"?>

<!-- 以下の記載があることで、MyBatis専用のタグが使用できる -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapperタグでMapperインターフェースと紐づける -->
<mapper namespace="com.example.mapper.CourseMapper">

	<!-- resultMapタグでテーブルのカラムとEntityのフィールドを紐づける -->
	<resultMap type="com.example.entity.Course" id="courseMap">
		<!-- idタグで主キーとフィールドを紐づける -->
		<id column="ID" property="id" />
		<!-- resultタグで主キー以外のカラムとフィールドを紐づける -->
		<result column="NAME" property="name" />
		
		<!-- 1対1のリレーション設定 -->
		<!-- property="フィールド名" javaType="追加したEntityのクラスパス" -->
		<!-- カラム名にはエイリアスを指定 -->
		<association property="courseDetail" javaType="com.example.entity.CourseDetail">
		    <id column="CD_ID" property="id"/>
		    <result column="DESCRIPTION" property="description"/>
		</association>
		
		<!-- 1対多のリレーション設定 -->
		<collection property="chapters" ofType="com.example.entity.Chapter">
		    <id column="CH_ID" property="id"/>
		    <result column="CH_NAME" property="name"/>
		</collection>
	</resultMap>

	<!-- データを取得する時はselectタグを使用する -->
	<!-- id属性に紐づけるメソッド名を定義する -->
	<!-- resultMap属性にはメソッドの返り値となるEntityを定義する（返り値がListでも要素となるEntityを指定する） -->
	<select id="findAll" resultMap="courseMap">
		<!-- 実行するSQLを定義する -->
		SELECT 
		    * 
		FROM 
		    COURSES
		<where>
		    <if test="courseId != null">
		        ID = #{courseId}
		    </if>
		    <if test="courseName != null">
		        OR NAME = #{courseName}
		    </if>
		</where>
	</select>
	
	<!-- データ1件取得用メソッドのタグとSQL文 -->
	<select id="findById" resultMap="courseMap">
	    SELECT 
	        C.ID
	        ,C.NAME
	        ,CD.ID AS CD_ID
	        ,CD.DESCRIPTION 
	        ,CH.ID AS CH_ID
	        ,CH.NAME AS CH_NAME
	    FROM 
	        COURSES C
	    INNER JOIN
	        COURSE_DETAILS CD
	    ON 
	        C.ID = CD.COURSES_ID
	    INNER JOIN
	        CHAPTERS CH
	    ON
	        C.ID = CH.COURSES_ID
	    WHERE 
	        C.ID = #{id}
	</select>
	
	<!-- 新規登録用メソッドのタグとSQL文 -->
	<!-- id="インターフェイスのメソッド名" useGeneratedKeys="true" keyColumn="カラム名" keyProperry="エンティティのフィールド名" -->
	<insert id="insert" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
	    INSERT INTO COURSES (ID, NAME) VALUES (COURSE_ID_SEQ.nextval, #{name})
	</insert>
	
	<!-- 更新用メソッドのタグとSQL文 -->
	<update id="update">
	    UPDATE COURSES SET NAME = #{name} WHERE ID = #{id}
	</update>
	
	<!-- 削除用メソッドのタグとSQL -->
	<delete id="deleteById">
	    DELETE FROM COURSES WHERE ID = #{id}
	</delete>
</mapper>